@model AplikaceEvidencePojisteni.Models.Insurance

@{
    ViewData["Title"] = "Mazání pojištění";
}

<h2>
    Opravdu chcete smazat pojištění? <b>@Model.InsuranceType</b>?
</h2>

<hr />
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="InsuranceId" />
        <input type="submit" value="Smazat" class="btn btn-danger" />
        <a asp-action="Details" asp-controller="Users" asp-route-id="@Model.UserId" class="btn btn-secondary">Zpět</a>
    </form>
