@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Vítejte v <b>Evidenci pojištění</b></h1>

    <p class="py-2">Jedná se o jednoduchý projekt s evidenci uživatelů a jejich pojištěním. Aplikace podporuje jak vytváření nových uživatelů a jejich editaci, tak vytváření jejich pojištění v rámci jednotlivých uživatelů.</p>

    <a asp-controller="Users" asp-action="Index">Přejít na evidenci pojištěnců</a>
</div>

